@import "../../variables.scss";

/*remove padding for expendable panel from angular material*/
.mat-expansion-panel-body {
  padding: 0 !important;
}

.container {
  width: 350px;
  padding: 1rem;
  text-align: center;
  border: dashed 2px $bg-gray;
  background: $bg-light;
  margin: 0 auto;
  border-radius: 5px;

  &.fileOver {
    border-color: $bg-blue;
    opacity: 0.5;
  }

  .input-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    p,
    button {
      font-size: $font-micro;
      margin: 5px 0;
    }

    .small {
      font-style: italic;
    }
  }

  .panel-body {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5px;
    justify-content: space-between;

    p {
      margin: 0;
      width: 100%;
      max-width: 300px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
      font-size: $font-micro;
    }
  }
}
