@import "../../variables.scss";

.app {
  margin: 1rem 0;
  display: flex;
  justify-content: space-around;

  .h-font-small {
    font-size: $font-micro;
  }

  .link-wrapper {
    text-align: center;

    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    p,
    a {
      width: 100px;
    }
  }

  .application-date {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;

    p {
      margin: 0;
    }
  }

  .status-wrapper {
    text-align: center;
  }

  .btns-wrapper {
    display: flex;
    align-items: center;

    button {
      margin: 0 0.5rem;
    }
  }
}
